.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
}

.logo_place_header {
  position:absolute;
  background: url(../images/logo_place_header.svg);
}

.header__title {
 position: relative;
 font-size: 102px;
 left: 64px;
 width: 730px;
 line-height: 96px;
 font-weight: 700;
 z-index: 2;
}

.header__subtitle {
  position: absolute;
  left:  64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
}



.header__link {
  color: #2f80ed;
}

.header__main-illustration{
  position: absolute;
  right:0;
  bottom:0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position:absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  position: relative;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.two-columns__brief {
  margin-top: 0;
  flex-basis: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 30px;
}

.two-columns_span-accent {
  font-weight: 600;
  line-height: 35px;
  font-size: 24px;
}
.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.section-title {
  font-weight: 600;
  line-height: 1.15;
  font-size: 60px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 100px;
  width: 60%;
}

.section-subtitle {
  font-weight:normal;
  line-height: 34px;
  font-size: 24px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 }

.table {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  width: 1100px;
}

.table__cell {
  margin-top: 60px;
  width: 260px;
}

.table__headling {
  margin-bottom: 20px;
  font-weight:600;
  line-height: 1.15;
  font-size: 24px;
}

.table__text {
  margin-top: 20px;
  font-weight:normal;
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  position: relative;
  height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image:url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.feyman__title {
  font-weight:600;
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px ;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

.feynman__link {
  line-height: 51px ;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  height: 50%;
  right: 48px;
}

.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__headling_theme_dark{
  font-weight:600;
  line-height: 1.15;
  font-size: 24px;
}

.table__text_theme_dark{
  font-weight:normal;
  line-height: 1.2;
  font-size: 18px;
}

.section-title_theme_dark {
  color: white;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  color: white;
}

.triangle {
  background-image:url("../images/kaufman-triangle.svg");
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  background-size:contain;
  z-index: -1;
}
.footer {
  min-height: 350px;
  background-color: #000;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%;
}

.footer__column {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  position: absolute;
  left: 0;
  top:0;
}

.footer__author {
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 0;
  left: 0;
  position: absolute;
}

.footer__column_content_info {
  margin-left: auto;
  margin-right: auto;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.footer__column-links {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
}

.footer__social-icon {
  background-size: contain;
  position: relative;
  width: 16px;
  height: 16px;
  right: 10px;
}

.footer__column-link {
  color: white;
}

.footer__column_content_social {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
